.meetings {
  header {
    border-bottom: 1px solid #D1E2F5;
  }
}

#hero-meetings {
  width: 100vw;
  min-height: 100vh;
  @include margin-padding(('p-t': (140, 0.5) ));

  .hero-meetings-content {
    @include width(1400, 0.7);
    max-width: 80vw;
  }

  .left-section, .right-section {
    width: 50%;
  }

  .left-section {
    h2 {
      @include FontLineSize(0.4, 0.4, 0.2, 36, 10);
      @include margin-padding(('m-b': (60, 0.5) ));
      color: #0c0c0c;
    }

    h3 {
      @include FontLineSize(0.25, 0.25, 0.5, 24, 10);
      @include margin-padding(('m-b': (60, 0.5) ));
    }
  }

  .right-section {
    img { width: 70%; }
  }

  .like-wrap {
    @include width(23, 0.2);
    @include margin-padding(('m-r': (22, 0.2) ));
  }

  .button-container {
    p {
      @include FontLineSize(0.15, 0.15, 0.7, 16, 7);
      @include margin-padding(('m-r': (36, 0.2) ));
    }
  }

  .meetings-button {
    background: linear-gradient(93.52deg, #FA5C52 -2.41%, #FF8969 106.83%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    @include min-width(235, 0.5);
    @include min-height(65, 0.5);
    @include max-height(85, 0.5);
    padding: 20px;
    @include border-radius(51);
    @include FontLineSize(0.19, 0.19, 0.62, 16, 10);
    text-align: center;
    text-decoration: none;
  }
}
