//must have

$article-color: #263148;
$h1-color: #263148;
$h2-color: #263148;
$h3-color: #263148;
$accent-1-color: #FFB545;
$background-color: linear-gradient(133.94deg, #E6F0FF 7.74%, #FAFCFF 74.29%, #F4F7FC 100.34%);

$blue: #2B65E3;
$black: #263148;
$orange: #FFB545;
$l-orange: #FFBF5F;
$ll-orange: #fad195;
