#big-guy {

  position: relative;

  .title {
    @include margin-padding(('m-b': (35, 1), 'm-t': (70, 0.1) ));
  }

  .subtitle {
    font-weight: 400;
    @include margin-padding(('m-b': (65, 1) ));
  }

  .circle-container {
    @include width(930, 0.3);
    max-width: 90vw;
    @include margin-padding(('m-t': (55, 1) ));
  }

  .blur-bg {
    background: radial-gradient(50% 50% at 50% 50%, #D7E3FF 0%, #FFFFFF 100%);
    opacity: 0.38;
    @include width(835, 0.7);
    @include height(835, 0.7);
  }

  .circle-background {
    border-radius: 50%;
    background-image: url('../img/circled-guy.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 40%;
    @include width(809, 0.7);
    @include height(809, 0.7);
    position: relative;
  }

  $item-s: 0.2;

  .item {
    @include border-radius(12);
    @include width(237, $item-s);
    @include height(101, $item-s);
    border: 1px solid $l-blue;
    padding: RelativeUnits(20, $item-s);
    @include margin-padding(('p-t': (15, $item-s) ));
    background: white;
    overflow: hidden;
    cursor: pointer;

    p { font-weight: 500; }

    .number {
      position: absolute;
      color: $blue;
      right: 4%;
      bottom: 6%;
    }

    &:hover {
      transform: translateY(-3px);
    }

    &::before {
      content: '';
      background: $ll-blue;
      position: absolute;
      bottom: RelativeUnits(-101, $item-s);
      right: RelativeUnits(-100, $item-s);
      display: block;
      @include width(183, $item-s);
      @include height(121, $item-s);
      border-radius: 50%;
      z-index: -1;
      transition: 0.5s;
    }

    &:hover::before {
      height: 1000%;
      width: 200%;
    }
  }

  .center {
    left: calc(50% - RelativeUnits(118.5, $item-s));
  }

  .top-negative {
    top: -5%;
  }

  .button-container {
    width: 100%;

    p {
      @include margin-padding(('m-t': (19, 0.4) ));
    }

  }

  @include _tablet-middle {

    .blur-bg { display: none; }

    .circle-background {
      position: absolute;
      opacity: 0.5;
     }

    .circle-container {
      flex-wrap: wrap;
      @include margin-padding(('m-b': (85, 0.5) ));

      .item, .button-container {
        position: relative;
        margin: 20px;
      }

      .button-container {
        p {
          text-align: center;
          width: 60vw;
        }
      }
    }
  }

  @include _phone-big {
    .circle-background { display: none; }
  }

}
