body {
  @include font('Roboto', 400);
  color: $black;
  background: white;
}

* {
  z-index: 1;
}

h2 {
  @include FontLineSize(0.17, 0.17, 0.66, 30, 7);
  font-weight: 500;
}
h3 {
  @include FontLineSize(0.12, 0.12, 0.76, 18, 7);
  font-weight: 400;
}
p {
  @include FontLineSize(0.1, 0.1, 0.8, 14, 7);
  font-weight: 400;
}

.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.button-accent {
  background: $orange;
  display: flex;
  justify-content: center;
  align-items: center;
  @include width(275, 0.5);
  @include height(65, 0.5);
  @include border-radius(51);
  @include FontLineSize(0.11, 0.11, 0.78, 16, 10);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    background: $l-orange;
    position: absolute;
    top: RelativeUnits(-141, 0.5);
    right: RelativeUnits(-150, 0.5);
    display: block;
    @include width(263, 0.5);
    @include height(167, 0.5);
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
  }

  &:hover::before {
    background: $ll-orange;
    height: 1000%;
    width: 200%;
  }
}
