header {
  @include min-height(120, 0.3);
  width: 100vw;
  position: fixed;
  @include margin-padding(('p-l': (200), 'p-r': (200) ));

  .logo-container {
    @include margin-padding(('m-r': (55, 0.5) ));
    @include width(114, 0.5);
  }

  .group {
    p { font-weight: 300; }
  }

  .phone-button {
    @include width(57, 0.5);
    @include height(57, 0.5);
    @include border-radius(22);
    border: 1px solid $blue;
    @include margin-padding(('m-l': (26, 0.5) ));

    &:hover {
      background: $blue;
    }
  }
  
}
