#hero {

  width: 100vw;
  height: 100vh;
  background: $background-color;
  position: relative;

  .hero-content {
    height: 100%;
    @include width(1000, 0.5);
    max-width: 90vw;
    justify-content: space-between;
  }

  .button-rocket-container {
    background: url('../img/blue-rectangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    @include width(504, 0.7);
    @include height(212, 0.7);
    @include margin-padding(('p-l': (41, 0.7), 'p-r': (69, 0.7) ));
  }

  .rocket-wrap {
    @include width(82, 0.7);
  }

  .left-section, .right-section {
    @include min-height(568, 0.5);
    //width: 50%;
  }

  .left-section {
    @include margin-padding(('p-t': (50, 0.5) ));
    z-index: 1;
    @include width(503, 0.6);
  }

  .right-section {
    @include width(526, 0.4);
    //background: url('../img/full-hero-bg.svg');
    background: url('../img/hero-no-man.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
  }

  .man-wrap {
    width: 39.1%;
    animation: 3s linear 0s infinite alternate man-move;
  }

  @keyframes man-move { from { transform: translateY(-5%); } to { transform: translateY(5%); }  }
  @keyframes dollar-move {
    from {
      transform: translateY(0vh);
      opacity: 0;
    } 20% {
      opacity: 1;
    } 80% {
      opacity: 1;
    } to {
      transform: translateY(100vh);
      opacity: 0;
    }  }

  .circle1, .circle2 {
    position: absolute;
    z-index: 0;
    display: none;
  }

  .dollar-wrap {
    position: absolute;
    z-index: 0;
  }

  .dollar1 {
    right: 0;
    top: -10%;//40%;
    @include width(143, 1);
    animation: 8s linear 0s infinite dollar-move;
  }

  .dollar2 {
    left: 0;
    top: -26%;//40%;
    @include width(125, 1);
    animation: 7s linear 0s infinite dollar-move;
  }

  .dollar3 {
    left: 0;
    top: -10%;//60%;
    @include width(65, 1);
    animation: 6s linear 0s infinite dollar-move;
  }

  .circle1 {
    background: radial-gradient(50% 50% at 50% 50%, #2B65E3 0%, rgba(196, 196, 196, 0) 100%);
    opacity: 0.57;
    @include width(529, 0.7);
    @include height(529, 0.7);
  }

  .circle2 {
    background: radial-gradient(50% 50% at 50% 50%, #7EA7FF 0%, rgba(196, 196, 196, 0) 100%);
    opacity: 0.56;
    @include width(712, 0.7);
    @include height(712, 0.7);
  }

  @include _tablet-middle {
    .dollar-wrap {
      display: none;
    }
  }

  @include _tablet-small {

    .hero-content {
      flex-direction: column;
      justify-content: center;
    }

    .left-section {
      width: 100%;
    }

    .right-section {
      width: 90%;
      //@include min-height(638, 0.5);
      right: 0;
      opacity: 0.5;
      position: absolute;
      z-index: 0;
    }

    .button-rocket-container {
      width: 100%;
      background: linear-gradient(92.98deg, #214DAB 6.9%, #3961B7 73.76%);
      border-radius: 15px;
    }
  }
}
